.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atm-screen {
    width: 1000px;
    height: 750px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, #7020f4, #bb00cc, #db1fa9, #e64a91, #e56f86, #e97f83, #ea9083, #e9a088, #f4a780, #fbb178, #ffbb6f, #ffc766);
}

.flex-items {
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back {
    padding: 8px;
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 100%;
}

.back:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

h2 {
    color: white;
}

.flex-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.number-panel {
    display: grid;
    grid-template-columns: repeat(3, 60px);
}

.number {
    width: 60px;
    height: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
    transition: all .3s ease;
}

.hover {
    --s: 0.1em;   /* the thickness of the line */
    --c: #000; /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg,var(--c) 50%,#fff 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

.hover:hover {
    --_p: 100%
}

.form-styling {
    width: 40%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
}

button {
    margin-top: 20px;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:24px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}

button:hover {
    box-shadow: 2px 2px 6px 2px #939991;
}